<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/img/contact-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Create New Post</h1>
                            <span class="subheading">Have questions? I have answers.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7 border">
                        
                        <div class="my-5 ">
                            <form action="/reset/password/<%= id %>"  method="POST">
                                <!-- <p>Please enter your Username </p> -->
                                
                                <div class="form-floating">
                                    <label for="inputName ">Enter New Password</label> <br />
                                    <input type="text" class="form-control" placeholder="User Name" id="username" name="reset_pass">
                                </div>

                                <div class="form-floating">
                                    <label for="inputName ">Confirm New Password</label> <br />
                                    <input type="text" class="form-control" placeholder="User Name" id="username" name="conf_pass">
                                </div>

                               
                                  <br ><br >
                                <button class="btn btn-primary text-uppercase" type="submit">Confirm</button>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html>
